<?
require($_SERVER["DOCUMENT_ROOT"]."/bitrix/header.php");
$APPLICATION->SetTitle("Title");
?>/bitrix/backup 
/bitrix/cache 
/bitrix/crontab 
/bitrix/managed_cache 
/bitrix/managed_flags 
/bitrix/modules/*.log 
/bitrix/php_interface/crontab 
/bitrix/php_interface/dbconn.php 
/bitrix/stack_cache
/logs 
/upload 
/.gitignore 
/.htaccess 
/urlrewrite.php 
/*.log 
/*.sql 
/*.txt 
/*.xml 
/*.dt <?require($_SERVER["DOCUMENT_ROOT"]."/bitrix/footer.php");?>